.main-container {
  font-size: 100px;
  background-color: red;
  margin-top: 20px;
  padding: 20px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.educational-cards {
  height: 250px;
  width: 100%;
  background-color: pink;
  margin-bottom: 25px;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mini-cards {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 35px;
}
.cards {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.bx-1 {
  height: 100%;
  width: 25%;
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bx-1 img {
  height: 300px;
  width: 300px;
}
.bx-2 img {
  height: 300px;
  width: 300px;
}
.bx-2 {
  height: 100%;
  width: 70%;
  border: 5px solid black;
}
.trusties {
  height: 250px;
  width: 100%;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  margin-top: 25px;
}
